.after-publishing {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.after-publishing-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.after-publishing button {
  width: 200px;
  height: 50px;
  border-radius: 5px;
  background-color: #2baeb7;
  color: white;
  display: flex;
  justify-content: center;
  font-size: 14px;
}
