.hero {
  /* border: 2px magenta solid; */
  position: relative;
  height: 430px;
  margin-bottom: 15px;
}

.hero-images {
  /* border: 2px blue solid; */
  height: 100%;
  width: 100%;
}

/* the background picture */
.hero img:first-child {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: relative;
}

/* the tear effect */
.hero .tear {
  /* border: 2px goldenrod solid; */
  height: 10%;
  width: 50%;
  bottom: 0;
  right: 0;
  position: absolute;
}

.hero-selling-section {
  /* border: magenta 2px solid; */
  height: 50%;
  width: 400px;
  padding: 50px;
  background-color: white;
  position: absolute;
  top: 50px;
  left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 5px;
}

.hero p {
  font-size: 25px;
  line-height: 28px;
  text-align: center;
}

.hero button {
  height: 45px;
  width: 195px;
  border-radius: 5px;
  padding: 15px;
  border: none;
  background-color: #2baeb7;
  color: white;
  font-size: 16px;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}
