.modal-container {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 100;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.7);
}

.modal-container .modal {
  background-color: #2baeb7;
  height: fit-content;
  width: 320px;
  padding: 50px 30px;
  position: absolute;
  top: 40px;
  right: calc((100% - 320px) / 2);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  border-radius: 20px;
  color: white;
}

.modal-container .modal h1 {
  font-size: 20px;
}

.modal-container .modal .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.modal-container .modal .form input,
button {
  height: 30px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
}

.modal-container .modal .form button {
  justify-content: center;
  color: rgb(119, 119, 119);
}

.modal-container .modal .newsletter {
  display: flex;
  align-items: center;
  gap: 10px;
}

.modal .conditions {
  font-size: 12px;
  line-height: 10px;
}

.modal-submit {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.modal-submit button {
  width: 100%;
}

.modal-submit span {
  color: rgb(172, 5, 5);
  text-align: center;
}

.modal-submit p {
  font-size: 12px;
  /* line-height: 18px; */
}

.modal-submit p:hover {
  cursor: pointer;
}

.modal .closing-button {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(119, 119, 119);
  position: absolute;
  top: -5px;
  right: -5px;
  border: #2baeb7 1px solid;
}

/* AVATAR - SIGNUP FORM ONLY */

#add-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-avatar-label {
  cursor: pointer;
  border: white solid 1px;
  color: white;
  border-radius: 5px;
  height: 50px;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

/* to hide the by default button for uploading */
#add-avatar input {
  display: none;
}

/* once a picture is uploaded */
.uploaded-avatar {
  position: relative;
}

.uploaded-avatar img {
  height: 50px;
  width: auto;
}

#add-avatar .uploaded-avatar button {
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  top: -6px;
  right: -6px;
}
