/* GENERAL */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

*:focus {
  outline: none;
}

button:hover {
  cursor: pointer;
}

.app {
  font-family: "Roboto", sans-serif;
  position: relative;
}

/* so we can't scroll when the modal is open */
.app.no-scroll {
  position: fixed;
}

.container {
  /* border: 2px red solid; */
  max-width: 1244px;
  margin: 0 auto;
}
